
/* 2023 Update */ 

/* Headings */ 
.headingXl {             /* Main Heading */ 
  font-size: 2rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  color: black;
}
/* List Code */ 

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size:2rem;
}
.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.articlestyling { 
  /*cup of jo font */ 
  
  font-size: 19px;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #212529;
  letter-spacing: 0px;
  line-height: 26px;
  
  /* 
  font-family: 'Playfair Display', serif;
  font-family: 'Yusei Magic', sans-serif;
  */

}
.articleClass { 
  background-color: #f9f7f4;
  margin:2rem;
  padding:2rem;

}
.paragraphstyling { 
  margin-bottom:35px !important; /* MANUALLY SET MARGIN HERE <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

}

.divi-button {
  min-width: 300px;
}
/*

/*
.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  
}
.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-family: Elemental;
}
.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
} */

/* More Code 
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lora&family=Playfair+Display&family=Yusei+Magic&display=swap');

.borderCircle {
  border-radius: 9999px;
}

.padding1px {
  padding-top: 1px;
}


.lightText {
  color: #666;
}
.navbar_links{ 
  text-align: right;
  justify-content: right;
  align-items: right;
}
.linksUnderline a{
  text-decoration: underline;
}
.thepointer{ 
  cursor: pointer;
}
.patreon { 
  font-family: 'Lora', serif;
  font-size: 0.8em;
}
*/
.superbuttonalt3{
  background-image: url("style_images/button2.png"); 
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
}
.superbuttonalt2{
  background-image: url("style_images/button3.png"); 
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
}
.superbuttonalt {
  background-image: url("style_images/button3.png"); 
  background-position: center;
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  

}
.superbutton {

  /*background-image: url("/public/button3.png"); */

  
  background-color: #9b111e; 
  color: white; 
  background-position: right;
  border-radius: 77px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  

}
.superbutton:hover {
  background-image: url("/public/button2.png"); 

  transform: scale(1.05);
}
.imagebutton2 {
  background-image: url("/public/button2.png"); 
  background-position: center;
  border-radius: 77px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  
}
.imagebutton {

  background-image: url("/public/button3.png"); 
  background-position: right;
  border-radius: 77px;
  cursor: pointer;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  
}
/*
.toppadding { 
  padding-top: 100px;
  margin-top: 100px;
}
*/