@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lora&family=Playfair+Display&family=Yusei+Magic&display=swap');
.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-family: Elemental;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
.navbar_links{ 
  text-align: right;
  justify-content: right;
  align-items: right;
}
.linksUnderline a{
  text-decoration: underline;
}
.thepointer{ 
  cursor: pointer;
}
.articlestyling { 
  /*font-family: 'Playfair Display', serif;
  font-size: 1em;
  font-family: 'Architects Daughter', cursive; */
  font-family: 'Yusei Magic', sans-serif;
  font-size: 0.9em;
  
}

.superbuttonalt3{
  background-image: url("style_images/button2.png"); 
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
}
.superbuttonalt2{
  background-image: url("style_images/button3.png"); 
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
}
.superbuttonalt {
  background-image: url("style_images/button3.png"); 
  background-position: center;
  border-radius: 77px;
  color:rgb(253, 247, 226);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  

}
.superbutton {
  color:rgb(253, 247, 226);

  background-image: url("./style_images/button3.png"); 
  background-position: right;
  border-radius: 77px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family:none 'Lora', serif;
  

}
.superbutton:hover {
  background-image: url("./style_images/button2.png"); 

  transform: scale(1.05);
}
